input[type="text"] {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    width: 195px;

  }
 
  body{
    /* background-color: #e1b382; */
    background-image: url('images/court2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container{
    padding-left: 225px;
  }
  .playerName{
    color: #C9082A;
  }
  h1{
    color: white;
    padding-left: 85px;
    
  }

  span {
    color: #C9082A;
  }
  /* .background{
    background-image: url('images/court2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  } */

  button {
    background-color: #17408B;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .container2{
    padding-left: 510px;
    margin-top: -45px;
    padding-bottom: 20px;
 
  }
  button:hover{
    background-color:#C9082A;
  }

  

  .playerStats {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    position: relative; 
  }
  
  .playerStats h2 {
    color: #C9082A;
    font-size: 24px;
    margin-top: 0;
    

  }
  
  .playerStats p {
    color: #17408B;
    font-size: 16px;
    margin: 10px 0;
   
  }
   .playerStats img{
    height: 180px;
    width: 180px;
   position: absolute;
   top: 10px;
   right: 10px;
  }

  .logo {
     background-image: url('images/nba-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
