* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
}

.navbar {
    background-color: #17408B;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    opacity: 99%;
}

.logo {
    height: 90px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.navlist {
    list-style-type: none;
}

.navlist .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #C9082A;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 4px;
}

input[type="text"] {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
    width: 195px;
    background-color: #17408B;
  }
 
  body{
    /* background-color: #e1b382; */
    background-image: url('images/court2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.playerName {
  color: white;
}

.playerName::placeholder {
  color: white;
}

.basketball{
    position: relative;
    top: 50px;
    left: -50px;
    margin-left: 300px;
  }
.ball{
    position: absolute;
    background-color: #e76f51;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid #333;
    animation: bounce 1.5s ease-in infinite;
  }
.ball:before, .ball:after{
    content: "";
    position: absolute;
    background-color: #333;
    width: 110px;
    height: 3px;
    top: 50px;
    left: -5px;
  }
  .ball:before{
    transform: rotate(45deg);
  }
  .ball:after{
    transform: rotate(-45deg);
  }
  .lines{
    position: absolute;
    border-radius: 50%;
    border: 3px solid #333;
    width: 70px;
    height: 70px;
    left: -20px;
    top: -20px;
  }
  .lines:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid #333;
    width: 70px;
    height: 70px;
    top: 65px;
    left: 60px;
  }
  .shadow{
    position: absolute;
    width: 100px;
    height: 15px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    top: 95px;
    z-index: -1;
    left: 3px;
    animation: scale 1.5s ease-in infinite;
  }
  @keyframes bounce {
    0% {transform: translate3d(0, 0, 0) rotate(0deg);}
   25% {transform: translate3d(0, -185px, 0) rotate(90deg);}
   50% {transform: translate3d(0, 0, 0) rotate(180deg);}
   75% {transform: translate3d(0, -185px, 0) rotate(270deg);}
   100% {transform: translate3d(0, 0, 0) rotate(360deg);}
 }
 @keyframes scale {
    0% {transform: scaleX(1);}
    25% {transform: scaleX(0.7);}
    50% {transform: scaleX(1);}
    75% {transform: scaleX(0.7);}
    100% {transform: scaleX(1);}
  }

  .container{
    padding-left: 765px;
  }

  h1{
    color: #17408B;
    padding-left: 710px;
    
  }

  span {
    color: #C9082A;
  }
  /* .background{
    background-image: url('images/court2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  } */

  button {
    background-color: #17408B;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 7px;
    margin-left: -20px;
    
  }
  .container2{
    padding-left: 1000px;
    margin-top: -45px;
    padding-bottom: 20px;
 
  }
  button:hover{
    background-color:#C9082A;
  }

  

  .playerStats {
    background-color:#17408B;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    position: relative; 
  }
  
  .playerStats h2 {
    color: #C9082A;
    font-size: 24px;
    margin-top: 0;
    

  }
  
  .playerStats p {
    color:#FFFFFF;
    font-size: 16px;
    margin: 10px 0;
   
  }
   .playerStats img{
    height: 180px;
    width: 180px;
    border: white solid;
   position: absolute;
   top: 10px;
   right: 10px;
  }
  .logo2 {
   background-image: url('images/nba-logo.png');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   height: 150px;
   width: 150px;
   margin: 0 auto;
   margin-top: 80px;
 }



@media all and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }
    
    .navbar .container-icon{
        width: 100%;
    }
    
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;

    }

    .navlist {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        display: none;
    }

    .navlist .list-item {
        display: block;
        border: 1px solid white;
    }

    .logo {
        margin-top: 10px;
        margin-left: 10px;
    }

    input[type="text"] {
        border: none;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        padding: 10px;
        margin-top: 20px;
        margin-left: 75px;
        margin-bottom: 6px;
        width: 165px;
        background-color: #17408B;
      }
     
      body{
        /* background-color: #e1b382; */
        background-image: url('images/court2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
      .container{
        padding-left: 225px;
      }
      .playerName{
        color:#FFFFFF;
      }
      h1{
        color: #C9082A;
        padding-left: 187px;
        font-size: 25px;        
      }
    
      span {
        color: #C9082A;
      }
      /* .background{
        background-image: url('images/court2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      } */
    
      button {
        background-color: #17408B;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 0px;
        margin-left: -40px;
      }
      .container2{
        padding-left: 510px;
        margin-top: -45px;
        padding-bottom: 20px;
     
      }
      button:hover{
        background-color:#C9082A;
      }
    
      
    
      .playerStats {
        background-color:#17408B;
        border-radius: 20%;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        margin: 20px auto;
        margin-top: 50px;
        max-width: 300px;
        padding: 20px;
        position: relative; 
      }
      
      .playerStats h2 {
        color: #C9082A;
        font-size: 24px;
        margin-top: 0;
        
    
      }
      
      .playerStats p {
        color:#FFFFFF;
        font-size: 16px;
        margin: 10px 0;
       
      }
       .playerStats img{
        margin-top: 30px;
        height: 90px;
        width: 90px;
       position: absolute;
       top: 10px;
       right: 10px;
       border: #FFFFFF solid;
      }
      .logo2 {
       background-image: url('images/nba-logo.png');
       background-size: contain;
       background-repeat: no-repeat;
       background-position: center;
       height: 100px;
       width: 150px;
       margin: 0 auto;
       margin-top: 45px;
     }

     .basketball{
      position: relative;
      top: 50px;
      left: -50px;
      margin-left: 110px;
    }
  .ball{
      position: absolute;
      background-color: #e76f51;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      overflow: hidden;
      border: 3px solid #333;
      animation: bounce 1.5s ease-in infinite;
    }
  .ball:before, .ball:after{
      content: "";
      position: absolute;
      background-color: #333;
      width: 110px;
      height: 3px;
      top: 50px;
      left: -5px;
    }
    .ball:before{
      transform: rotate(45deg);
    }
    .ball:after{
      transform: rotate(-45deg);
    }
    .lines{
      position: absolute;
      border-radius: 50%;
      border: 3px solid #333;
      width: 70px;
      height: 70px;
      left: -20px;
      top: -20px;
    }
    .lines:before{
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 3px solid #333;
      width: 70px;
      height: 70px;
      top: 65px;
      left: 60px;
    }
    .shadow{
      position: absolute;
      width: 100px;
      height: 15px;
      background-color: rgba(0,0,0,0.2);
      border-radius: 50%;
      top: 95px;
      z-index: -1;
      left: 3px;
      animation: scale 1.5s ease-in infinite;
    }
    @keyframes bounce {
      0% {transform: translate3d(0, 0, 0) rotate(0deg);}
     25% {transform: translate3d(0, -185px, 0) rotate(90deg);}
     50% {transform: translate3d(0, 0, 0) rotate(180deg);}
     75% {transform: translate3d(0, -185px, 0) rotate(270deg);}
     100% {transform: translate3d(0, 0, 0) rotate(360deg);}
   }
   @keyframes scale {
      0% {transform: scaleX(1);}
      25% {transform: scaleX(0.7);}
      50% {transform: scaleX(1);}
      75% {transform: scaleX(0.7);}
      100% {transform: scaleX(1);}
    }
  

    .active {
        display: block;
    }
}

@media all and (max-width: 350px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .navbar .container-icon{
    width: 100%;
  }
  .menu {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .navlist {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }
  .navlist .list-item {
    display: block;
    border: 1px solid white;
  }
  .logo {
    margin-top: 10px;
    margin-left: 10px;
  }
  input[type="text"] {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 6px;
    width: 165px;
    background-color: #17408B;
  }
  body{
    background-image: url('images/court2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container{
    padding-left: 20px;
  }
  .playerName{
    color:#FFFFFF;
  }
  h1{
    color: #C9082A;
    padding-left: 10px;
    font-size: 20px;        
  }
  span {
    color: #C9082A;
  }
  button {
    background-color: #17408B;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
    margin-top: 0px;
    margin-left: -35px;
  }
  .container2{
    padding-left: 60px;
    margin-top: -45px;
    padding-bottom: 20px;
  }
  button:hover{
    background-color:#C9082A;
  }
  .playerStats {
    background-color:#17408B;
    border-radius: 20%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-top: 50px;
    max-width: 200px;
    padding: 20px;
    position: relative; 
  }
  .playerStats h2 {
    color: #C9082A;
    font-size: 18px;
    margin-top: 0;
  }
  .playerStats p {
    color:#FFFFFF;
    font-size: 14px;
    margin: 10px 0;
  }
  .playerStats img{
    margin-top: 30px;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: #FFFFFF solid;
  }
  .logo2 {
    background-image: url('images/nba-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 100px;
    margin: 0 auto;
    margin-top: 25
  }
}